.wrapper {
    width: 400px;
    height: 400px;
    background: rgb(196,162,22);
    background: radial-gradient(circle, rgba(196,162,22,0.9724264705882353) 24%, rgba(1,255,0,1) 61%, rgba(124,20,114,1) 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: 200px;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
    outline: none;
}

.input-wrapper i {
    position: absolute;
    right: 25px;
    top: 30px;
    color: grey;
}

.btn{
    width: 150px;
}

